* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #201313;
}

header {
    background-color: #201313;
    padding: 20px 30px;
}

.logo {
    width: 200px;
    margin-right: 150px;
}

header>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 30px;
    margin-left: 30px;
}

header>button {
    color: white;
    font-size: 18px;
    background-color: #e03131;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin-left: 200px;
}

.hero {
    padding: 50px 275px;
    color: white;
}

.giant {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.write {
    font-size: 30px;
    margin-bottom: 20px;
}

.write>a {
    color: #ffe7a3;
}

.line1 {
    margin-bottom: 20px;
}

.links>button {
    height: 50px;
    border-radius: 50px;
    background-color: #201313;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    margin-right: 15px;
}

.links>button:nth-child(1) {
    width: 120px;
    background-color: #ffe7a3;
    color: #201313;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links>button:nth-child(2) {
    width: 90px;
}

.links>button:nth-child(3) {
    width: 150px;
}

.links>button:nth-child(4) {
    width: 100px;
}

.links>a {
    font-size: 26px;
    color: white;
    text-decoration: dotted underline;
}

.hero2 {
    padding: 50px 275px;
    color: white;
}

.hero2>h1 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 18px;
}

.hero2>h2 {
    font-size: 20px;
    margin-bottom: 25px;
    line-height:20px;
    font-weight: 500;
}

.write2>a {
    color: #ffe7a3;
    line-height: 30px;
    font-weight: bolder;
}

.hero4 {
    padding: 50px 275px;
    color: white;
}

.hero4>h1 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
    font-weight: bolder;
}

.hero4>h2 {
    font-size: 20px;
    margin-bottom: 25px;
    line-height:20px;
    font-weight: 500;
    line-height: 30px;
}

.write4>a {
    color: #ffe7a3;
    line-height: 30px;
    font-weight: bolder;
}

.hero5 {
    padding: 50px 275px;
    color: white;
}

.hero5>h1 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 18px;
}

.hero5>h2 {
    font-size: 20px;
    margin-bottom: 25px;
    line-height:20px;
    font-weight: 500;
}

.write5>a {
    color: #ffe7a3;
    line-height: 30px;
    font-weight: bolder;
}


