* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas:
    "a a b b" 
    "a a b b";
    width: 100%;
    height: 100%;
}

.grid div {
    background-color: black;
}

.a {
    grid-column: a;
    grid-row: a;
}

.b {
    grid-column: b;
    grid-row: b;
}