* {
    margin: 0;
    padding: 0;
}

div {
    height: 500px;
    width: 450px;
    background-color: #A434E9;
    margin: 80px;
    clip-path: path("M 0,10 L 10,0 L 440,0 L 450,10 L 450,490 L 440,500 L 55,500 L 45,490 L 45,420 L 35,410 L 10,410 L 0,400 L 0,10");
}